.haberKartı {
  width: 32rem;
  height: 18rem;
  border-radius: 3rem;
  margin-bottom: 3rem;

  &__header {
    display: flex;
    flex-direction: row;
    color: black;
    
    &__title{
        text-align: center;
        font-weight: bold;
        padding-right: 1rem;
    }
  }
}
